<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Protect Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Protect X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Laravel Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# 🔒 BLOCK FILE SENSITIF
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "\.(env|log|ini|sh|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# 🔒 BLOCK AKSES KE FILE PHP DI UPLOAD
<Directory "uploads">
    php_flag engine off
</Directory>

# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:rU85xpilov
deny from 2001:448a:2050:1608:5175:d0d4:e5f0:4d61
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE rU85xpilov:IPDENYID